* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #f2f2f2;
}

.main {
  margin: 0 auto;
  width: 375px;
  height: 100%;
  background-color: white;
}

.header {
  display: flex;
  padding: 16px 12px;
  min-height: 73px;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  text-indent: 48px;
}
.menu-icon-container {
  display: flex;
  width: 20px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.oval {
  width: 5px;
  height: 5px;
  background: dodgerblue;
  border-radius: 50%;
}
.todo-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  min-height: 60px;
}

.task-checkbox {
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  border: 2px solid #dadada;
}
.task-checkbox.checked {
  //   background: url(../icons/checked.svg);
  background-position: center center;
  background-size: 100%;
}

.task-category-indicator {
  width: 10px;
  height: 10px;
  background: #61dea4;
  border-radius: 50%;
  margin-left: auto;
}

.todo-item p {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
  margin-left: 15px;
}
